.add-note-item {
  font-family: "Nunito", sans-serif;
  min-width: 20%;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  border-radius: 20px;
  border: solid 5px #e35892;
  box-shadow: 0px 0px 10px #ff99c3;
  transition: 0.25s ease;
}

.add-note-item:hover {
  border: solid 5px #0ba500;
  box-shadow: 0px 0px 15px #89ff81;
}

textarea {
  width: 90%;
  height: 100%;
  margin: 2% 5%;
  background-color: inherit;
  color: #cfcfcf;
  resize: unset;
  border: none;
  align-self: flex-start;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 800;
}

textarea:focus {
  color: #ffffff;
  border: none;
  outline: none;
}

.add-note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 4%;
  font-family: "Nunito", sans-serif;
  font-weight: 600;

  small{
    font-weight: 800;
    color: #0ba500;
  }
}

.add-note-interaction {
  width: 20%;
}

.add-button {
  background-color: inherit;
  font-size: 0.8rem;
  font-weight: 800;
  color: #0ba500;
  border: solid 2px #0ba500;
  border-radius: 20px;
  padding: 5% 10%;
  cursor: pointer;
  transition: 0.25s ease;
}

.add-button:hover {
  background-color: #0ba500;
  color: #eeeeee;
  border: solid 2px #eeeeee;
  box-shadow: 0px 0px 5px #0ba500;
}

@keyframes fidget {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.error {
  background-color: #e50000;
  font-size: 0.8rem;
  font-weight: 800;
  color: #eeeeee;
  border: solid 2px #eeeeee;
  box-shadow: 0px 0px 5px #e50000;
  border-radius: 20px;
  padding: 5% 10%;
  animation: fidget 0.35s infinite;
}

.light-mode {
  .add-note-item {
    color: black;
    box-shadow: 0px 0px 5px #ffffff;
  }

  textarea{
    color: black;
  }
}



/* MOBILE DEVICE */
@media (min-width: 320px) and (max-width: 480px) {
 
}

/* IPAD / TABLETS */
@media (min-width: 481px) and (max-width: 768px) {

}

/* SMALL SCREENS / LAPTOPS */
@media (min-width: 769px) and (max-width: 1024px) {

  
}

/* DESKTOPS / LARGE SCREENS */
@media (min-width: 1025px) and (max-width: 1200px) {
 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* CSS styles here */
}

