.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  margin-top: 7%;
  margin-bottom: 1%;
  font-family: "Nunito", sans-serif;

  p {
    margin-left: 5%;
    font-weight: 500;
  }
}

a {
  width: 5%;
 
}

.logo {
  width: 100%;
  filter: drop-shadow(0 0 0.5rem #e35892);
  transition: 0.25s ease;
}

.logo:hover {
  filter: drop-shadow(0 0 0.5rem #89ff81);
}

.foot-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  margin-right: 5%;

  i {
    color: #ffffff;
    font-size: 1.5rem;
    transition: 0.15s ease;
  }

  i:hover {
    color: #ff93c0;
  }
}

.light-mode {
  .logo {
    filter: drop-shadow(0 0 0.2rem #ffffff);
  }

  .logo:hover {
    filter: drop-shadow(0 0 0.2rem #065b00);
  }

  p {
    color: #000000;
  }

  .footer i {
    color: #000000;
  }

  .footer i:hover {
    color: #00a408;
    filter: drop-shadow(0 0 0.2rem #ffffff);
  }
}



/* MOBILE DEVICE */
@media (min-width: 320px) and (max-width: 480px) {
  .footer{
    p{
      font-size: 0.8rem;
    }
  }
 .foot-links{
  width: 30%;
  margin-right: 9%;
 }

 a{
  width: 10%;
 }
}

/* IPAD / TABLETS */
@media (min-width: 481px) and (max-width: 768px) {

}

/* SMALL SCREENS / LAPTOPS */
@media (min-width: 769px) and (max-width: 1024px) {

  
}

/* DESKTOPS / LARGE SCREENS */
@media (min-width: 1025px) and (max-width: 1200px) {
 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* CSS styles here */
}

