.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  width: 50%;
  filter: drop-shadow(0 0 0.3rem #edaa2f);
  cursor: default;
  transition: 0.5s ease;
}

.title:hover {
  filter: drop-shadow(0 0 0.5rem #e35892);
}

.h1 {
  margin-left: 10%;
  color: #ffffff;
  font-family: "DM sans", sans-serif;
  font-size: 4rem;
}

.image-div {
  width: 50%;
}

.image {
  width: 50%;
}

.mode {
  margin-right: 5%;
  background-color: inherit;
  border: solid 2px #d5c300;
  border-radius: 10px;
  padding: 0.5% 1%;
  cursor: pointer;
}

.mode:hover {
  background-image: linear-gradient(to right, #f6fbff, #9ccfff);
  .moon {
    color: #ffffd1;
  }
}

.mode .sun {
  color: #d5c300;
}

.mode .moon:hover {
  color: #ffffd1;
}

.light-mode {
  .title {
    filter: drop-shadow(0 0 0.3rem #fff0f7);
  }

  .mode {
    border: solid 2px #151515;
    padding: 0.5% 1.15%;
  }
  .mode:hover {
    background-image: linear-gradient(to right, #1d0f3c, #853da7);
  }
}

/* MOBILE DEVICE */
@media (min-width: 320px) and (max-width: 480px) {
  .title {
    width: 75%;
  }
  .h1 {
    font-size: 2rem;
  }

  .image-div {
    width: 75%;
  }

  .mode {
    padding: 1.5% 2%;
  }

  .light-mode{
    .mode {
      border: solid 2px #151515;
      padding: 1.5% 2.5%;
    }
  }
}

/* IPAD / TABLETS */
@media (min-width: 481px) and (max-width: 768px) {
}

/* SMALL SCREENS / LAPTOPS */
@media (min-width: 769px) and (max-width: 1024px) {
}

/* DESKTOPS / LARGE SCREENS */
@media (min-width: 1025px) and (max-width: 1200px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* CSS styles here */
}
