.note-list-item {
  font-family: "Nunito", sans-serif;
  min-width: 20%;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  border-radius: 20px;
  border: solid 5px #d88c00;
  box-shadow: 0px 0px 10px #edaa2f;
  transition: 0.25s ease;
  white-space: pre-wrap;
}

.note-list-item span{
  align-self: flex-start;
  margin:2% 5%;
}

.note-list-item:hover {
  // border: solid 5px #dba238;
  box-shadow: 0px 0px 15px #edaa2f;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 4%;
}

.note-footer i {
  transition: 0.25s ease;
}

.note-interaction {
  width: 20%;
}

.trash {
  margin-left: 15%;
}

.trash:hover {
  color: red;
  cursor: pointer;
}

.pen {
  margin-right: 15%;
}

.pen:hover {
  color: #d8ad00;
  cursor: pointer;
}

.save-button{
  background-color: inherit;
  color: #0ba500;
  border: solid 2px #0ba500;
  border-radius: 20px;
  padding: 1% 2%;
  cursor: pointer;
  transition: 0.25s ease;
}

.save-button:hover{
  background-color: #0ba500;
  color: #eeeeee;
  border: solid 2px #eeeeee;
  box-shadow: 0px 0px 5px #0ba500;
}

.cancel-button{
  background-color: inherit;
  color: #d60000;
  border: solid 2px #d60000;
  border-radius: 20px;
  padding: 1% 2%;
  cursor: pointer;
  transition: 0.25s ease;
}

.cancel-button:hover{
  background-color: #d60000;
  color: #eeeeee;
  border: solid 2px #eeeeee;
  box-shadow: 0px 0px 5px #d60000;
}



.light-mode{
  textarea{
    color: black;
  }
  .note-list-item{
    color: black;
    box-shadow: 0px 0px 10px #ffffff;
  }

}
// RESPONSIVE CODE

//   margin: 0 5%;


/* MOBILE DEVICE */
@media (min-width: 320px) and (max-width: 480px) {
 
}

/* IPAD / TABLETS */
@media (min-width: 481px) and (max-width: 768px) {

}

/* SMALL SCREENS / LAPTOPS */
@media (min-width: 769px) and (max-width: 1024px) {

  
}

/* DESKTOPS / LARGE SCREENS */
@media (min-width: 1025px) and (max-width: 1200px) {
 
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* CSS styles here */
}

